body{
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  color: #111;
}

.hero{
  height: 100vh;
  background: linear-gradient(135deg, #111, #333);
  color: white;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
}


.hero h1{
  font-size: 40px;
}


.hero p{
  font-size: 18px;
  opacity: 0.8;
}


.hero button{
  padding: 12px 25px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}



.section{
  max-width: 1000px;
  margin: 60px auto;
  padding: 40px;
  background: gray;
  border-radius: 10px;
}



.skills{
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}


.skill-box{
  padding: 20px 30px;
  background: #b9abab;
  border-radius: 8px;
  font-weight: bold;
}



.projects{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}


.project{
  background: #e0e0e0;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
}


.project:hover{
  transform: translateY(-5px);
}



.contact{
  background: #222;
  color: white;
  text-align: center;
}



@media (max-width: 600px){


  .hero h1{
    font-size: 28px;
  }


  .section{
    margin: 30px 15px;
    padding: 25px;
  }
}
